extends layout

block content
    h1 add new password
    form(name="add-estimation", method="post", actions="/passwords")
        div.input
            span.label Website URL
            input(type="text", name="web_url")
        div.input
            span.label username
            input(type="text", name="username")
        div.input
            span.label password
            input(type="password", name="userpass")
        div.actions
            input(type="submit", value="add")
    
    h1 here are you passwords
    - var passwordlist = passwords
    each password in passwordlist
        div
            h2= password.web_url
            p= password.username 
            p= password.userpass

    